*,*::before,*::after{
  box-sizing: border-box;
}


body{
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif; 
  font-size: 1em;
  line-height: 1.5;
  min-height: 100vh;
  max-width: 100vw;
}

header{
  background:#FFF7ED;
  padding: 2em 0;
}

footer{
  background: #252525;
  display: grid;
  place-content: center;
  padding: 0.5em 0;
  bottom: 0;
  width: 100%;
}

img{
  width: 100%;
  display: block;
}


.container{
  width: 90%;
  margin: 0 auto;
  display: grid;
  align-items: flex-start;
}



button,a{
  cursor: pointer;
}

.primary-button{
  display: block;
  width: 100%;
  background: #FF8C38;
  border-radius: 5px;
  color: white;
  padding: 1em;
  text-align: center;
  border: none;
  text-decoration: none;
}



:root{
  --text-color-primary:#161616;
  --dark-gray:#4D4D4D;
}

/*===============
  Typography 
=================*/


/* Header */

nav{
  width:100%;
  display: flex;
  align-items: baseline;
}

a.title{
  font-weight: 900;
  text-transform: uppercase;
  font-size: 1.5625rem;
  color: black;
  margin:0 auto 0 0;
  text-align: left;
}

nav a{
  font-size: 1rem;
  text-decoration: none;
  color: var(--dark-gray);
  margin-left: 0.75em;
  text-align: right;
}


/* Footer */

footer p {
  color: #AAA;
  font-size: .8125rem;
  font-weight: 500;
}


/* Home */

.subtitle{
  font-size: 2rem;
  line-height: 1.16;
  font-weight: 800;
}

.home-desc{
  font-weight: 500;
}


/* About */


.about-title,
.about-desc,
.about-footer{
  color: var(--text-color-primary);
}

.about-title{
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.185;
}


.about-desc{
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.375;
}

.about-footer p{
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.25;
}

.explore-btn{
  font-weight: 700;
  font-size: 1rem;
  color: white;
}


/* Vans page */


.vans-page-title{
  color: var(--text-color-primary);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.filter-btn{
  color: var(--dark-gray);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.clear-filters-btn{
  font-size: 1rem;
  color: var(--dark-gray);
  font-weight: 500;
  text-decoration: underline;
}


.van-name,
.van-price{
  font-size: 1.25rem;
  color: var(--text-color-primary);
  font-weight: 600;
  line-height: 1.58;
}


.van-price{
  display: flex;
  flex-direction: column;
  margin-bottom:0;
}


.van-price span{
  color: var(--text-color-primary);
  font-size: 0.825rem;
  font-weight: 500;
  line-height: 2.26;
  text-align: right;
  margin-top:-1em;
  /* position: absolute;
  top: 1.2em;
  left: 1em; */
}



















/*===============
  Layout 
=================*/


/* Home */

.home-container{
  background: url('assets/HomeBG.png') no-repeat center center fixed;
  background-size: cover;
  min-height: 600px;
  color: white;
  padding: 4em 0;
  display: grid;
  place-items: center;
}


.subtitle{
  margin:0;
}

.home-desc{
  margin: 1.375em 0 3.175em;
}


/* About */


.about-footer{
  border-radius: 5px;
  background: #FFCC8D;
  padding: 2em 2.5em;
}

.about-footer p{
  margin: 0;
}

.explore-btn{
  border-radius: 10px;
  background: var(--text-color-primary);
  padding: 0.75em 1.375em;
  text-decoration: none;
  display: block;
  width: fit-content;
  margin-top:1.5em ;
}


.about-title{
  margin: 1.5em 0 0;
}

.about-desc:first-of-type{
  margin: 2em 0;
}

.about-footer{
  display: block;
  margin: 3.5em 0;
}


/* Vans Page */


.vans-page{
  min-height: 85vh;
  margin-top: 3.375em;
  margin-bottom: 6.875em;
}

.vans-page-title{
  margin: 0s;
}

.filter-vans-container{
  display: flex;
  align-items: baseline;
  margin: 1.75em 0 3.875em;
}

.filter-btn{
  background: #FFEAD0;
  border-radius: 5px;
  padding: 0.5em 1.5em;
  margin-right: 1.25em;
  text-decoration: none;
  width: fit-content;
}    


.filter-simple:hover,
.filter-simple:focus,
.filter-simple.filter-active{
  background: #E17654;
  color:white;
}


.filter-rugged:hover,
.filter-rugged:focus,
.filter-rugged.filter-active{
  background: #115E59;
  color:white;
}


.filter-luxury:hover,
.filter-luxury:focus,
.filter-luxury.filter-active{
  background:#161616;
  color:white;
}


.clear-filters-btn{
  margin-left: auto;
}



/* Van */


.vans-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:2em 1.5em;
}


.van a{
  text-decoration: none;
}


.van-img{
  border-radius: 5px;
  margin: 0;
}


.van-info{
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
}

